# remove some sytem forlders and files
.vscode/
.documents/
*.vscode
*.ipynb_checkpoints
.DS_Store
*/.DS_Store
.DS_Store?
__pycache__/
**/__pycache__
__init__.py/
test.py

# ignore data folder 
data/ 
notes/
fits/
figures/
simulations/
analyses/
backup/
answer2.ipynb
main.py
answer.ipynb